@use 'sass:map';

// fonts
$font-family: '__Inter_36bd41', '__Inter_Fallback_36bd41';

// Colors
$colors: (
  'primary': #36446f,
  'secondary': #02bdfb,
  'success': #0ead2b,
  'warn': #e6b616,
  'error': #9b0b0b,
  'white': #ffffff,
  'black': #000000,
  'gray': #aeaeae,
  'yellow': #ffea00
);

$breakpoints: (
  'phone': 640px,
  'mobile': 768px,
  'desktop': 1024px,
);

@function getColor($color) {
  @return map.get($colors, $color);
}

@function getBreakpoint($breakpoint) {
  @return map.get($breakpoints, $breakpoint);
}

:export {
  colorPrimary: #36446f;
  colorSecondary: #02bdfb;
  colorSuccess: #0ead2b;
  colorWarn: #e6b616;
  colorError: #9b0b0b;
  colorWhite: #ffffff;
  colorBlack: #000000;
  colorGray: #aeaeae;
  colorYellow: #ffea00;
  fontFamily: $font-family
}
